# coding: utf-8

"""
    Nevaya Platform

    Access to everything Nevaya  # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: contact@nevaya.co.uk
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class EPGApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_epg_now_and_next(self, epg_ids, **kwargs):  # noqa: E501
        """Get the programmes that are on now and next  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_epg_now_and_next(epg_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str epg_ids: Comma separated list of channel EPG IDs (required)
        :return: list[InlineResponse20027]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_epg_now_and_next_with_http_info(epg_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.get_epg_now_and_next_with_http_info(epg_ids, **kwargs)  # noqa: E501
            return data

    def get_epg_now_and_next_with_http_info(self, epg_ids, **kwargs):  # noqa: E501
        """Get the programmes that are on now and next  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_epg_now_and_next_with_http_info(epg_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str epg_ids: Comma separated list of channel EPG IDs (required)
        :return: list[InlineResponse20027]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['epg_ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_epg_now_and_next" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'epg_ids' is set
        if ('epg_ids' not in params or
                params['epg_ids'] is None):
            raise ValueError("Missing the required parameter `epg_ids` when calling `get_epg_now_and_next`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'epg_ids' in params:
            query_params.append(('epg_ids', params['epg_ids']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/epg/now-and-next', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20027]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_epg_programmes(self, epg_ids, **kwargs):  # noqa: E501
        """Get EPG data  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_epg_programmes(epg_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str epg_ids: Comma separated list of channel EPG IDs (required)
        :param int hours: How many hours of programming information required
        :param int offset: How many hours into the future should the programming information start
        :return: list[InlineResponse20026]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_epg_programmes_with_http_info(epg_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.get_epg_programmes_with_http_info(epg_ids, **kwargs)  # noqa: E501
            return data

    def get_epg_programmes_with_http_info(self, epg_ids, **kwargs):  # noqa: E501
        """Get EPG data  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_epg_programmes_with_http_info(epg_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str epg_ids: Comma separated list of channel EPG IDs (required)
        :param int hours: How many hours of programming information required
        :param int offset: How many hours into the future should the programming information start
        :return: list[InlineResponse20026]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['epg_ids', 'hours', 'offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_epg_programmes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'epg_ids' is set
        if ('epg_ids' not in params or
                params['epg_ids'] is None):
            raise ValueError("Missing the required parameter `epg_ids` when calling `get_epg_programmes`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'epg_ids' in params:
            query_params.append(('epg_ids', params['epg_ids']))  # noqa: E501
        if 'hours' in params:
            query_params.append(('hours', params['hours']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/epg/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20026]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
