# coding: utf-8

"""
    Nevaya Platform

    Access to everything Nevaya  # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: contact@nevaya.co.uk
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class WeatherApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_weather_all(self, lat, lng, **kwargs):  # noqa: E501
        """Get all the weather  # noqa: E501

        Get all the weather for the given latitude and longitude found in the weather section of the data endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_weather_all(lat, lng, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float lat: Latitude (required)
        :param float lng: Longitude (required)
        :param str lang: The ISO 639-1 code of the language to return the data in
        :return: AllWeather
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_weather_all_with_http_info(lat, lng, **kwargs)  # noqa: E501
        else:
            (data) = self.get_weather_all_with_http_info(lat, lng, **kwargs)  # noqa: E501
            return data

    def get_weather_all_with_http_info(self, lat, lng, **kwargs):  # noqa: E501
        """Get all the weather  # noqa: E501

        Get all the weather for the given latitude and longitude found in the weather section of the data endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_weather_all_with_http_info(lat, lng, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float lat: Latitude (required)
        :param float lng: Longitude (required)
        :param str lang: The ISO 639-1 code of the language to return the data in
        :return: AllWeather
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['lat', 'lng', 'lang']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_weather_all" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'lat' is set
        if ('lat' not in params or
                params['lat'] is None):
            raise ValueError("Missing the required parameter `lat` when calling `get_weather_all`")  # noqa: E501
        # verify the required parameter 'lng' is set
        if ('lng' not in params or
                params['lng'] is None):
            raise ValueError("Missing the required parameter `lng` when calling `get_weather_all`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'lat' in params:
            query_params.append(('lat', params['lat']))  # noqa: E501
        if 'lng' in params:
            query_params.append(('lng', params['lng']))  # noqa: E501
        if 'lang' in params:
            query_params.append(('lang', params['lang']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/weather/all', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AllWeather',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_weather_current(self, lat, lng, **kwargs):  # noqa: E501
        """Get the current weather  # noqa: E501

        Get the current weather for the given latitude and longitude found in the weather section of the data endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_weather_current(lat, lng, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float lat: Latitude (required)
        :param float lng: Longitude (required)
        :param str lang: The ISO 639-1 code of the language to return the data in
        :return: CurrentWeather
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_weather_current_with_http_info(lat, lng, **kwargs)  # noqa: E501
        else:
            (data) = self.get_weather_current_with_http_info(lat, lng, **kwargs)  # noqa: E501
            return data

    def get_weather_current_with_http_info(self, lat, lng, **kwargs):  # noqa: E501
        """Get the current weather  # noqa: E501

        Get the current weather for the given latitude and longitude found in the weather section of the data endpoint.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_weather_current_with_http_info(lat, lng, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param float lat: Latitude (required)
        :param float lng: Longitude (required)
        :param str lang: The ISO 639-1 code of the language to return the data in
        :return: CurrentWeather
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['lat', 'lng', 'lang']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_weather_current" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'lat' is set
        if ('lat' not in params or
                params['lat'] is None):
            raise ValueError("Missing the required parameter `lat` when calling `get_weather_current`")  # noqa: E501
        # verify the required parameter 'lng' is set
        if ('lng' not in params or
                params['lng'] is None):
            raise ValueError("Missing the required parameter `lng` when calling `get_weather_current`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'lat' in params:
            query_params.append(('lat', params['lat']))  # noqa: E501
        if 'lng' in params:
            query_params.append(('lng', params['lng']))  # noqa: E501
        if 'lang' in params:
            query_params.append(('lang', params['lang']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWT']  # noqa: E501

        return self.api_client.call_api(
            '/weather/current', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CurrentWeather',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
